flows.json
[{"id":"22cacad.f0e7036","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b3a6324e.a491c","type":"subflow","name":"Test execution complete","info":"","category":"Shared","in":[{"x":100,"y":120,"wires":[{"id":"5e7e9f29.45e688"}]}],"out":[{"x":280,"y":380,"wires":[{"id":"5e7e9f29.45e688","port":0}]}],"env":[],"status":{"x":380,"y":60,"wires":[{"id":"7cdd39cd.07483","port":0}]}},{"id":"d817fbcc.812e","type":"subflow","name":"Failure encountered","info":"","category":"Shared","in":[{"x":120,"y":220,"wires":[{"id":"9efaa6c2.b2b04"}]}],"out":[{"x":700,"y":500,"wires":[{"id":"9efaa6c2.b2b04","port":1}]},{"x":700,"y":300,"wires":[{"id":"b66a4655.26728","port":0}]}],"env":[],"status":{"x":320,"y":80,"wires":[{"id":"661570a2.a257e8","port":0}]}},{"id":"fbaa1676.42d288","type":"subflow","name":"Get Next Row","info":"","category":"Shared","in":[{"x":100,"y":200,"wires":[{"id":"e78828bb.3192c"}]}],"out":[{"x":980,"y":4860,"wires":[{"id":"4946fb92.fb8f24","port":0}]},{"x":1240,"y":240,"wires":[{"id":"d903162.53d6d68","port":0}]}],"env":[],"status":{"x":260,"y":100,"wires":[{"id":"9b7cdc79.926a98","port":0}]}},{"id":"a8dcefc0.43ec78","type":"subflow","name":"Project set up","info":"","category":"Shared","in":[{"x":260,"y":260,"wires":[{"id":"28d7f70e.e79368"}]}],"out":[{"x":1000,"y":1560,"wires":[{"id":"5e8f37ce.45a2","port":0}]}],"env":[],"status":{"x":460,"y":200,"wires":[{"id":"dec4dec.6320aa","port":0}]}},{"id":"ce66cb21.2cd2","type":"subflow","name":"Post call","info":"","category":"Shared","in":[{"x":80,"y":140,"wires":[{"id":"aa91b399.711fd"}]}],"out":[{"x":920,"y":580,"wires":[{"id":"36877b3b.382e74","port":0}]},{"x":920,"y":680,"wires":[{"id":"55feec98.d8956c","port":0}]},{"x":920,"y":780,"wires":[{"id":"b6e0630b.52271","port":0}]}],"env":[],"status":{"x":300,"y":40,"wires":[{"id":"7b235f99.eba4e","port":0}]}},{"id":"b4ab54d5.27fd98","type":"MySQLdatabase","z":"22cacad.f0e7036","host":"chq05-w10-tst01.axcess-financial.com","port":"3306","db":"Robot","tz":""},{"id":"7cdd39cd.07483","type":"status","z":"b3a6324e.a491c","name":"","scope":null,"x":140,"y":60,"wires":[[]]},{"id":"e040fd4f.368ac","type":"function","z":"b3a6324e.a491c","name":"Update Robot._Web_SubmitLoanRequest","func":"const id = global.get(\"id\");\nconst failures = global.get(\"failures\").toString();\nconst status = failures ? \"Fail\" : \"Pass\";\n\nmsg.topic = \n`UPDATE Robot._Web_SubmitLoanRequest \n    SET ExpectedStatus = ${status}, \n        ConsoleErrorsLogged = \"${failures}\",  \n        RunNow = \"0\"\n  WHERE id = ${id}`; \n    \nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[[]]},{"id":"17a9dc3e.7ecb04","type":"debug","z":"b3a6324e.a491c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":260,"wires":[]},{"id":"5e7e9f29.45e688","type":"function","z":"b3a6324e.a491c","name":"*** Test PASSED ***","func":"const id = global.get(\"id\");\nconst TestName = global.get(\"testCase.TestName\");\n\nnode.log(`TestName: ${TestName}, id: ${id}`);\nnode.log( \"=\".repeat(50) );\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[[]]},{"id":"661570a2.a257e8","type":"status","z":"d817fbcc.812e","name":"","scope":null,"x":160,"y":80,"wires":[[]]},{"id":"9efaa6c2.b2b04","type":"switch","z":"d817fbcc.812e","name":"Was there a failed assertion","property":"failures.length","propertyType":"global","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":220,"wires":[["a92805e6.411d4"],[]]},{"id":"a92805e6.411d4","type":"function","z":"d817fbcc.812e","name":"Update Robot._Web_SubmitLoanRequest","func":"const id = global.get(\"id\");\nconst failures = global.get(\"failures\").toString();\n\nmsg.topic = \n`UPDATE Robot._Web_SubmitLoanRequest \n    SET ExpectedStatus = \"Fail\", \n        ConsoleErrorsLogged = \"${failures}\",  \n        RunNow = \"0\"\n  WHERE id = ${id}`; \n    \nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["d0def22c.df221"]]},{"id":"6fae2a8d.c7673c","type":"debug","z":"d817fbcc.812e","name":"Response: Update Robot test case  ","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":180,"wires":[]},{"id":"d0def22c.df221","type":"debug","z":"d817fbcc.812e","name":"Request: Update Robot test case  ","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"topic","targetType":"msg","x":1280,"y":120,"wires":[]},{"id":"b66a4655.26728","type":"function","z":"d817fbcc.812e","name":"*** FAILED test ***","func":"const id = global.get(\"id\");\nconst TestName = global.get(\"testCase.TestName\");\nconst failures = global.get(\"failures\");\n\nnode.log(`TestName: ${TestName}, id: ${id}`);\nnode.log(`failures: ${failures}`);\nnode.log( \"=\".repeat(50) );\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":240,"wires":[[]]},{"id":"1d4d6035.d6288","type":"function","z":"fbaa1676.42d288","name":"SQL Robot._Web_SubmitLoanRequest","func":"const username = \"@\" + global.get(\"username\");\n\nmsg = {};\nmsg.topic = username ? `SELECT * FROM Robot._Web_SubmitLoanRequest WHERE TagsConfigurationNotes LIKE \\\"%${username}%\\\" and API_Channel IS NOT NULL LIMIT 1` : \"SELECT * FROM Robot._Web_SubmitLoanRequest WHERE RunNow = \\\"1\\\" and API_Channel IS NOT NULL LIMIT 1\";\nreturn msg;\n\n// Get a single test case from the Robot DB that is flagged as 'RunNow = 1' - this needs to be changed because of debugging","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["19b1c798.70055"]]},{"id":"f97e21b.027a3e","type":"change","z":"fbaa1676.42d288","name":"Set Test Case variables","rules":[{"t":"set","p":"id","pt":"msg","to":"id","tot":"global"},{"t":"set","p":"id","pt":"global","to":"payload[0].id","tot":"msg"},{"t":"set","p":"TestName","pt":"global","to":"payload[0].TestName","tot":"msg"},{"t":"set","p":"Configuration_RandomlyGenerateData","pt":"global","to":"payload[0].Configuration_RandomlyGenerateData","tot":"msg"},{"t":"set","p":"Page_AccountSetup_FK3","pt":"global","to":"payload[0].Page_AccountSetup_FK3","tot":"msg"},{"t":"set","p":"Page_PersonalInformation_FK","pt":"global","to":"payload[0].Page_PersonalInformation_FK","tot":"msg"},{"t":"set","p":"Page_ProductPreference_FK","pt":"global","to":"payload[0].Page_ProductPreference_FK","tot":"msg"},{"t":"set","p":"Page_IncomeInformation_FK","pt":"global","to":"payload[0].Page_IncomeInformation_FK","tot":"msg"},{"t":"set","p":"Page_BankInformation_FK","pt":"global","to":"payload[0].Page_BankInformation_FK","tot":"msg"},{"t":"set","p":"Page_Agreements_FK","pt":"global","to":"payload[0].Page_Agreements_FK","tot":"msg"},{"t":"set","p":"Page_OTPPhoneVerfication_FK","pt":"global","to":"payload[0].Page_OTPPhoneVerfication_FK","tot":"msg"},{"t":"set","p":"Page_SelectLoan_FK","pt":"global","to":"payload[0].Page_SelectLoan_FK","tot":"msg"},{"t":"set","p":"Page_LoanAmount_FK","pt":"global","to":"payload[0].Page_LoanAmount_FK","tot":"msg"},{"t":"set","p":"Page_DecisionLogic_FK","pt":"global","to":"payload[0].Page_DecisionLogic_FK","tot":"msg"},{"t":"set","p":"Page_eSignDocuments_FK","pt":"global","to":"payload[0].Page_eSignDocuments_FK","tot":"msg"},{"t":"set","p":"Page_UploadDocuments_FK","pt":"global","to":"payload[0].Page_UploadDocuments_FK","tot":"msg"},{"t":"set","p":"Page_AdditionalDocuments_FK","pt":"global","to":"payload[0].Page_AdditionalDocuments_FK","tot":"msg"},{"t":"set","p":"Page_ThankYouPage_FK","pt":"global","to":"payload[0].Page_ThankYouPage_FK","tot":"msg"},{"t":"set","p":"URLindex","pt":"global","to":"payload[0].Configuration_URLServers_FK2","tot":"msg"},{"t":"set","p":"testCase.API_ProductType","pt":"global","to":"payload[0].API_ProductType","tot":"msg"},{"t":"set","p":"testCase.API_Channel","pt":"global","to":"payload[0].API_Channel","tot":"msg"},{"t":"set","p":"testCase.API_Brand","pt":"global","to":"payload[0].API_Brand","tot":"msg"},{"t":"set","p":"testCase.API_ExpectedApplicationResult","pt":"global","to":"payload[0].API_ExpectedApplicationResult","tot":"msg"},{"t":"set","p":"testCase.API_CustomerType","pt":"global","to":"payload[0].API_CustomerType","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":320,"wires":[["9d6ce1b6.d53768","1cc79fed.bbbcf8"]]},{"id":"bd7804ae.a32d5","type":"link out","z":"fbaa1676.42d288","name":"","links":[],"x":1455,"y":4660,"wires":[]},{"id":"a8e8ba7f.75373","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_AccountSetup_FK3'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_accountsetup WHERE id = \" + msg.Page_AccountSetup_FK3 + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[[]]},{"id":"dc8b0d11.783768","type":"change","z":"fbaa1676.42d288","name":"Set 'Account Setup' variables","rules":[{"t":"set","p":"AccountSetup.FirstName","pt":"global","to":"payload[0].FirstName","tot":"msg"},{"t":"set","p":"AccountSetup.LastName","pt":"global","to":"payload[0].LastName","tot":"msg"},{"t":"set","p":"AccountSetup.Email","pt":"global","to":"payload[0].Email","tot":"msg"},{"t":"set","p":"AccountSetup.CreatePassword","pt":"global","to":"payload[0].CreatePassword","tot":"msg"},{"t":"set","p":"AccountSetup.ConfirmPassword","pt":"global","to":"payload[0].ConfirmPassword","tot":"msg"},{"t":"set","p":"AccountSetup.SecurityQuestion","pt":"global","to":"payload[0].Web_SubmitLoanRequest_Page_AccountSetup_C_SecurityQ_FK4","tot":"msg"},{"t":"set","p":"AccountSetup.SecurityAnswer","pt":"global","to":"payload[0].SecurityAnswer","tot":"msg"},{"t":"set","p":"AccountSetup.EligibilityNumber","pt":"global","to":"payload[0].EligibilityNumber","tot":"msg"},{"t":"set","p":"AccountSetup.PageLoadTextFound","pt":"global","to":"payload[0].PageLoadTextFound","tot":"msg"},{"t":"set","p":"AccountSetup.PageLoadTextNOTFound","pt":"global","to":"payload[0].PageLoadTextNOTFound","tot":"msg"},{"t":"set","p":"AccountSetup.PageExitTextFound","pt":"global","to":"payload[0].PageExitTextFound","tot":"msg"},{"t":"set","p":"AccountSetup.PageExitTextNOTFound","pt":"global","to":"payload[0].PageExitTextNOTFound","tot":"msg"},{"t":"set","p":"AccountSetup.RetriesOnError","pt":"global","to":"payload[0].RetriesOnError","tot":"msg"},{"t":"set","p":"AccountSetup.AbortOnError","pt":"global","to":"payload[0].AbortOnError","tot":"msg"},{"t":"set","p":"AccountSetup.WaitPerStep","pt":"global","to":"payload[0].WaitPerStep","tot":"msg"},{"t":"set","p":"AccountSetup.StopTestAtEndOfThisPage","pt":"global","to":"payload[0].StopTestAtEndOfThisPage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":640,"wires":[["5471bee2.83ad1","58f463d1.1d01e4","b7787994.7efa58"]]},{"id":"514cdfe6.d98958","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_PersonalInformation_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_personalinformation WHERE id = \" + msg.Page_PersonalInformation_FK + \";\"\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":900,"wires":[[]]},{"id":"ed1463c4.ce3f28","type":"change","z":"fbaa1676.42d288","name":"Set 'Personal Information' variables","rules":[{"t":"set","p":"PersonalInformation.Address","pt":"global","to":"payload[0].Address","tot":"msg"},{"t":"set","p":"PersonalInformation.AptSuite","pt":"global","to":"payload[0].AptSuite","tot":"msg"},{"t":"set","p":"PersonalInformation.City","pt":"global","to":"payload[0].City","tot":"msg"},{"t":"set","p":"PersonalInformation.ZIPCode","pt":"global","to":"payload[0].ZIPCode","tot":"msg"},{"t":"set","p":"PersonalInformation.OwnOrRent","pt":"global","to":"payload[0].OwnOrRent","tot":"msg"},{"t":"set","p":"PersonalInformation.TimeAtCurrentAddressYRS","pt":"global","to":"payload[0].TimeAtCurrentAddressYRS","tot":"msg"},{"t":"set","p":"PersonalInformation.TimeAtCurrentAddressMTS","pt":"global","to":"payload[0].TimeAtCurrentAddressMTS","tot":"msg"},{"t":"set","p":"PersonalInformation.PrimaryPhone","pt":"global","to":"payload[0].PrimaryPhone","tot":"msg"},{"t":"set","p":"PersonalInformation.IdentificationType","pt":"global","to":"payload[0].IdentificationType","tot":"msg"},{"t":"set","p":"PersonalInformation.IdentificationState","pt":"global","to":"payload[0].IdentificationState","tot":"msg"},{"t":"set","p":"PersonalInformation.IdentificationNumber","pt":"global","to":"payload[0].IdentificationNumber","tot":"msg"},{"t":"set","p":"PersonalInformation.IdentificationExpiration","pt":"global","to":"payload[0].IdentificationExpiration","tot":"msg"},{"t":"set","p":"PersonalInformation.SocialSecurityNumber","pt":"global","to":"payload[0].SocialSecurityNumber","tot":"msg"},{"t":"set","p":"PersonalInformation.ConfirmSSN","pt":"global","to":"payload[0].ConfirmSSN","tot":"msg"},{"t":"set","p":"PersonalInformation.DateOfBirth","pt":"global","to":"payload[0].DateOfBirth","tot":"msg"},{"t":"set","p":"PersonalInformation.SecondaryPhone","pt":"global","to":"payload[0].SecondaryPhone","tot":"msg"},{"t":"set","p":"PersonalInformation.OwnershipType","pt":"global","to":"payload[0].OwnershipType","tot":"msg"},{"t":"set","p":"PersonalInformation.PageLoadTextFound","pt":"global","to":"payload[0].PageLoadTextFound","tot":"msg"},{"t":"set","p":"PersonalInformation.PageLoadTextNOTFound","pt":"global","to":"payload[0].PageLoadTextNOTFound","tot":"msg"},{"t":"set","p":"PersonalInformation.PageExitTextFound","pt":"global","to":"payload[0].PageExitTextFound","tot":"msg"},{"t":"set","p":"PersonalInformation.PageExitTextNOTFound","pt":"global","to":"payload[0].PageExitTextNOTFound","tot":"msg"},{"t":"set","p":"PersonalInformation.RetriesOnError","pt":"global","to":"payload[0].RetriesOnError","tot":"msg"},{"t":"set","p":"PersonalInformation.AbortOnError","pt":"global","to":"payload[0].AbortOnError","tot":"msg"},{"t":"set","p":"PersonalInformation.WaitPerStep","pt":"global","to":"payload[0].WaitPerStep","tot":"msg"},{"t":"set","p":"PersonalInformation.StopTestAtEndOfThisPage","pt":"global","to":"payload[0].StopTestAtEndOfThisPage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1020,"wires":[["c2934f35.79b61","971bd68b.46ad78","bbd38385.d414b"]]},{"id":"da25737.c079e9","type":"comment","z":"fbaa1676.42d288","name":"Test Case body (RunNow = 1)","info":"","x":900,"y":80,"wires":[]},{"id":"4180de8d.530a5","type":"comment","z":"fbaa1676.42d288","name":"Account Setup page","info":"","x":930,"y":440,"wires":[]},{"id":"979011a1.210c78","type":"comment","z":"fbaa1676.42d288","name":"Personal Information page","info":"","x":890,"y":820,"wires":[]},{"id":"9d6ce1b6.d53768","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_AccountSetup_FK3","pt":"msg","to":"Page_AccountSetup_FK3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":480,"wires":[["a8e8ba7f.75373","adfde683.1fa298"]]},{"id":"b7787994.7efa58","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_PersonalInformation_FK","pt":"msg","to":"Page_PersonalInformation_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":860,"wires":[["514cdfe6.d98958","90309e96.55ad5"]]},{"id":"adfde683.1fa298","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_AccountSetup_FK3","targetType":"msg","x":1140,"y":480,"wires":[]},{"id":"90309e96.55ad5","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_PersonalInformation_FK","targetType":"msg","x":1120,"y":860,"wires":[]},{"id":"1cc79fed.bbbcf8","type":"debug","z":"fbaa1676.42d288","name":"Test Case #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"id","targetType":"msg","x":1160,"y":320,"wires":[]},{"id":"c2934f35.79b61","type":"switch","z":"fbaa1676.42d288","name":"Random data","property":"Configuration_RandomlyGenerateData","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":1020,"wires":[[],["f2fdac0.2e0e058"]],"info":"This takes two paths based on the setting of the 'Configuration - Randomly generate data'\nflag in Robot.\n\n1. set\n2. not set\n"},{"id":"971bd68b.46ad78","type":"debug","z":"fbaa1676.42d288","name":"Random flag","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Configuration_RandomlyGenerateData","targetType":"msg","x":1270,"y":1060,"wires":[]},{"id":"17cf303f.92d19","type":"comment","z":"fbaa1676.42d288","name":"Random SSN","info":"","x":1270,"y":980,"wires":[]},{"id":"dac962cd.ed0c9","type":"json","z":"fbaa1676.42d288","name":"","property":"SSN","action":"","pretty":false,"x":1570,"y":1080,"wires":[["d485bbe0.26b8c8"]]},{"id":"646d9b8c.3b39d4","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"PersonalInformation.SocialSecurityNumber","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"PersonalInformation.ConfirmSSN","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1040,"wires":[["dac962cd.ed0c9"]]},{"id":"f2fdac0.2e0e058","type":"debug","z":"fbaa1676.42d288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":1200,"wires":[]},{"id":"c353d7d8.f27138","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"SSN","pt":"msg","to":"SSN.SSN","tot":"msg"},{"t":"set","p":"SSN","pt":"global","to":"SSN","tot":"msg"},{"t":"set","p":"SocialSecurityNumber","pt":"global","to":"SSN","tot":"msg"},{"t":"set","p":"ConfirmSSN","pt":"global","to":"SSN","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":1140,"wires":[[]]},{"id":"d485bbe0.26b8c8","type":"debug","z":"fbaa1676.42d288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"SSN","targetType":"msg","x":1740,"y":1120,"wires":[]},{"id":"6cf58f68.c70628","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_ProductPreference_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_productpreference WHERE id = \" + msg.Page_ProductPreference_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1300,"wires":[[]]},{"id":"5adde277.769d34","type":"change","z":"fbaa1676.42d288","name":"Set 'Product Preference' variables","rules":[{"t":"set","p":"ProductPreference.SelectLoan","pt":"global","to":"payload[0].SelectLoan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1420,"wires":[["693749bf.ff5288"]]},{"id":"f1d70c68.2c7338","type":"comment","z":"fbaa1676.42d288","name":"Product Preference page","info":"","x":890,"y":1220,"wires":[]},{"id":"bbd38385.d414b","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_ProductPreference_FK","pt":"msg","to":"Page_ProductPreference_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1260,"wires":[["6cf58f68.c70628","2191dbbe.b72dcc"]]},{"id":"2191dbbe.b72dcc","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_ProductPreference_FK","targetType":"msg","x":1120,"y":1260,"wires":[]},{"id":"25bd715b.c570ee","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_IncomeInformation_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_incomeinformation WHERE id = \" + msg.Page_IncomeInformation_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1660,"wires":[[]]},{"id":"fcc4e56.d6e4898","type":"change","z":"fbaa1676.42d288","name":"Set 'Income Information' variables","rules":[{"t":"set","p":"IncomeInformation.MainSourceOfIncome","pt":"global","to":"payload[0].MainSourceOfIncome","tot":"msg"},{"t":"set","p":"IncomeInformation.EmploymentBenefitStartDate","pt":"global","to":"payload[0].EmploymentBenefitStartDate","tot":"msg"},{"t":"set","p":"IncomeInformation.EmployerName","pt":"global","to":"payload[0].EmployerName","tot":"msg"},{"t":"set","p":"IncomeInformation.JobTitleDepartment","pt":"global","to":"payload[0].JobTitleDepartment","tot":"msg"},{"t":"set","p":"IncomeInformation.WorkPhone","pt":"global","to":"payload[0].WorkPhone","tot":"msg"},{"t":"set","p":"IncomeInformation.Extension","pt":"global","to":"payload[0].Extension","tot":"msg"},{"t":"set","p":"IncomeInformation.PaycheckFrequency","pt":"global","to":"payload[0].PaycheckFrequency","tot":"msg"},{"t":"set","p":"IncomeInformation.GrossPayPerCheck","pt":"global","to":"payload[0].GrossPayPerCheck","tot":"msg"},{"t":"set","p":"IncomeInformation.NetPayPerCheck","pt":"global","to":"payload[0].NetPayPerCheck","tot":"msg"},{"t":"set","p":"IncomeInformation.PaycheckReceivedAs","pt":"global","to":"payload[0].PaycheckReceivedAs","tot":"msg"},{"t":"set","p":"IncomeInformation.NextPayDate","pt":"global","to":"payload[0].NextPayDate","tot":"msg"},{"t":"set","p":"IncomeInformation.Shift","pt":"global","to":"payload[0].Shift","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1780,"wires":[["7e7445f6.c28274"]]},{"id":"8cf5ae60.62ad1","type":"comment","z":"fbaa1676.42d288","name":"Income Information page","info":"","x":900,"y":1580,"wires":[]},{"id":"693749bf.ff5288","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_IncomeInformation_FK","pt":"msg","to":"Page_IncomeInformation_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1620,"wires":[["25bd715b.c570ee","b4439c4.4f0e7e"]]},{"id":"b4439c4.4f0e7e","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_IncomeInformation_FK","targetType":"msg","x":1120,"y":1620,"wires":[]},{"id":"c3515c7f.9d1b7","type":"inject","z":"fbaa1676.42d288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1560,"y":960,"wires":[[]]},{"id":"58f463d1.1d01e4","type":"switch","z":"fbaa1676.42d288","name":"Random data","property":"Configuration_RandomlyGenerateData","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1400,"y":640,"wires":[[],["d0a00d6a.1c1a6"]],"info":"This takes two paths based on the setting of the 'Configuration - Randomly generate data'\nflag in Robot.\n\n1. set\n2. not set\n"},{"id":"5471bee2.83ad1","type":"debug","z":"fbaa1676.42d288","name":"Random flag","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Configuration_RandomlyGenerateData","targetType":"msg","x":1210,"y":560,"wires":[]},{"id":"d71df2e.e80cb9","type":"comment","z":"fbaa1676.42d288","name":"Random Email","info":"","x":1410,"y":600,"wires":[]},{"id":"d0a00d6a.1c1a6","type":"debug","z":"fbaa1676.42d288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":740,"wires":[]},{"id":"4edcfce0.511cbc","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"AccountSetup.Email","pt":"global","to":"payload.email","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":660,"wires":[["52e858cf.210ba8"]]},{"id":"3067b7be.878d8","type":"inject","z":"fbaa1676.42d288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1640,"y":580,"wires":[[]]},{"id":"52e858cf.210ba8","type":"debug","z":"fbaa1676.42d288","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.email","targetType":"msg","x":1890,"y":720,"wires":[]},{"id":"825091bf.d0b05","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_IncomeInformation_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_bankinformation WHERE id = \" + msg.Page_BankInformation_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":2040,"wires":[[]]},{"id":"e4d6333d.7d40e8","type":"change","z":"fbaa1676.42d288","name":"Set 'Bank Information' variables","rules":[{"t":"set","p":"BankInformation.AccountType","pt":"global","to":"payload[0].AccountType","tot":"msg"},{"t":"set","p":"BankInformation.RoutingNumber","pt":"global","to":"payload[0].RoutingNumber","tot":"msg"},{"t":"set","p":"BankInformation.ConfirmRoutingNumber","pt":"global","to":"payload[0].ConfirmRoutingNumber","tot":"msg"},{"t":"set","p":"BankInformation.AccountNumber","pt":"global","to":"payload[0].AccountNumber","tot":"msg"},{"t":"set","p":"BankInformation.ConfirmAccountNumber","pt":"global","to":"payload[0].ConfirmAccountNumber","tot":"msg"},{"t":"set","p":"BankInformation.AccountOpenDate","pt":"global","to":"payload[0].AccountOpenDate","tot":"msg"},{"t":"set","p":"BankInformation.AccountBalance","pt":"global","to":"payload[0].AccountBalance","tot":"msg"},{"t":"set","p":"BankInformation.AccountHolderName","pt":"global","to":"payload[0].AccountHolderName","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2160,"wires":[["b35fc837.da575"]]},{"id":"2e4d4bd.cd0bab4","type":"comment","z":"fbaa1676.42d288","name":"Bank Information page","info":"","x":900,"y":1960,"wires":[]},{"id":"7e7445f6.c28274","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_BankInformation_FK","pt":"msg","to":"Page_BankInformation_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2000,"wires":[["825091bf.d0b05","1a61c86a.891728"]]},{"id":"1a61c86a.891728","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_BankInformation_FK","targetType":"msg","x":1120,"y":2000,"wires":[]},{"id":"9502220b.8f42","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_Agreements_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_agreements WHERE id = \" + msg.Page_Agreements_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":2440,"wires":[[]]},{"id":"2536b00e.2e73d8","type":"change","z":"fbaa1676.42d288","name":"Set 'Agreements Information' variables","rules":[{"t":"set","p":"AgreementsInformation.ReadAcceptElectronicRecords","pt":"global","to":"payload[0].ReadAcceptElectronicRecords","tot":"msg"},{"t":"set","p":"AgreementsInformation.ReadAcceptArbitrationAgreement","pt":"global","to":"payload[0].ReadAcceptArbitrationAgreement","tot":"msg"},{"t":"set","p":"AgreementsInformation.ReadAcceptNoticeCancellation","pt":"global","to":"payload[0].ReadAcceptNoticeCancellation","tot":"msg"},{"t":"set","p":"AgreementsInformation.ShareFinancialInformation","pt":"global","to":"payload[0].ShareFinancialInformation","tot":"msg"},{"t":"set","p":"AgreementsInformation.PayForLoan","pt":"global","to":"payload[0].ShareFinancialInformation","tot":"msg"},{"t":"set","p":"AgreementsInformation.EligibilityNumber","pt":"global","to":"payload[0].EligibilityNumber","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2560,"wires":[["591836a1.f530a"]]},{"id":"dfdb716e.c50088","type":"comment","z":"fbaa1676.42d288","name":"Agreements page","info":"","x":850,"y":2360,"wires":[]},{"id":"b35fc837.da575","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_Agreements_FK","pt":"msg","to":"Page_Agreements_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2400,"wires":[["9502220b.8f42","9c89419b.23a8c"]]},{"id":"9c89419b.23a8c","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_Agreements_FK","targetType":"msg","x":1150,"y":2400,"wires":[]},{"id":"29cd4c4.0089fb4","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_OTPPhoneVerfication_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_otpphoneverification WHERE id = \" + msg.Page_OTPPhoneVerfication_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2840,"wires":[[]]},{"id":"539027.1dad3fd8","type":"change","z":"fbaa1676.42d288","name":"Set 'OTP' variables","rules":[{"t":"set","p":"OTP.Passcode","pt":"global","to":"payload[0].Passcode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":2960,"wires":[["f9b2f56.8436508"]]},{"id":"86161e64.a9569","type":"comment","z":"fbaa1676.42d288","name":"OTP page","info":"","x":880,"y":2760,"wires":[]},{"id":"591836a1.f530a","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_OTPPhoneVerfication_FK","pt":"msg","to":"Page_OTPPhoneVerfication_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":2800,"wires":[["29cd4c4.0089fb4","24cd35c3.9ca2f2"]]},{"id":"24cd35c3.9ca2f2","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_OTPPhoneVerfication_FK","targetType":"msg","x":1120,"y":2800,"wires":[]},{"id":"ba5d156f.30b69","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_SelectLoan_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_selectloan WHERE id = \" + msg.Page_SelectLoan_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":3220,"wires":[[]]},{"id":"f5d0640a.3e0e98","type":"change","z":"fbaa1676.42d288","name":"Set 'Select Loan' variables","rules":[{"t":"set","p":"SelectLoan","pt":"global","to":"payload[0].SelectLoan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3340,"wires":[["98c602d.e98ca"]]},{"id":"f2c1d407.fb1298","type":"comment","z":"fbaa1676.42d288","name":"Select Loan page","info":"","x":920,"y":3140,"wires":[]},{"id":"f9b2f56.8436508","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_SelectLoan_FK","pt":"msg","to":"Page_SelectLoan_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3180,"wires":[["ba5d156f.30b69","38f67a4f.02daf6"]]},{"id":"38f67a4f.02daf6","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_SelectLoan_FK","targetType":"msg","x":1120,"y":3180,"wires":[]},{"id":"dec58388.30699","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_SelectLoan_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_loanamount WHERE id = \" + msg.Page_LoanAmount_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":3600,"wires":[[]]},{"id":"f3b23582.bfa2d8","type":"change","z":"fbaa1676.42d288","name":"Set 'Loan Amount' variables","rules":[{"t":"set","p":"LoanAmount","pt":"global","to":"payload[0].LoanAmount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3720,"wires":[["ef4ec360.12861"]]},{"id":"3b6d476d.dd9ef","type":"comment","z":"fbaa1676.42d288","name":"Loan Amount page","info":"","x":910,"y":3520,"wires":[]},{"id":"98c602d.e98ca","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_LoanAmount_FK","pt":"msg","to":"Page_LoanAmount_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3560,"wires":[["dec58388.30699","478cba6.da635c4"]]},{"id":"478cba6.da635c4","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_LoanAmount_FK","targetType":"msg","x":1120,"y":3560,"wires":[]},{"id":"d21651d9.9c461","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_DecisionLogic_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_decisionlogic WHERE id = \" + msg.Page_DecisionLogic_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":3980,"wires":[[]]},{"id":"fcc18638.634a88","type":"change","z":"fbaa1676.42d288","name":"Set 'DecisionLogic' variables","rules":[{"t":"set","p":"DecisionLogic.BankName","pt":"global","to":"payload[0].BankName","tot":"msg"},{"t":"set","p":"DecisionLogic.BankURL","pt":"global","to":"payload[0].BankURL","tot":"msg"},{"t":"set","p":"DecisionLogic.BankID","pt":"global","to":"payload[0].BankID","tot":"msg"},{"t":"set","p":"DecisionLogic.BankPassword","pt":"global","to":"payload[0].BankPassword","tot":"msg"},{"t":"set","p":"DecisionLogic.Agree","pt":"global","to":"payload[0].Agree","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":4100,"wires":[["86d476bc.e15d6"]]},{"id":"f37f4554.4db828","type":"comment","z":"fbaa1676.42d288","name":"Decision Logic page","info":"","x":910,"y":3900,"wires":[]},{"id":"ef4ec360.12861","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_DecisionLogic_FK","pt":"msg","to":"Page_DecisionLogic_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3940,"wires":[["d21651d9.9c461","8c221307.86a628"]]},{"id":"8c221307.86a628","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"Page_DecisionLogic_FK","targetType":"msg","x":1120,"y":3940,"wires":[]},{"id":"e88ac5b.48fd4b8","type":"function","z":"fbaa1676.42d288","name":"SQL Select 'Page_eSignDocuments_FK'","func":"msg.topic = \"SELECT * FROM robot.web_submitloanrequest_page_esigndocuments WHERE id = \" + msg.Page_eSignDocuments_FK + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":4360,"wires":[[]]},{"id":"c57321df.6e1818","type":"change","z":"fbaa1676.42d288","name":"Set 'Page_eSignDocuments_FK' variables","rules":[{"t":"set","p":"ESignDocuments.Description","pt":"global","to":"payload[0].Description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":4480,"wires":[["32a238a2.9941f"]]},{"id":"bbcbd377.4cbab8","type":"comment","z":"fbaa1676.42d288","name":"eSign page","info":"","x":860,"y":4280,"wires":[]},{"id":"86d476bc.e15d6","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"Page_eSignDocuments_FK","pt":"msg","to":"Page_eSignDocuments_FK","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":4320,"wires":[["e88ac5b.48fd4b8","febdb5cb.8cbd38"]]},{"id":"febdb5cb.8cbd38","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"Page_eSignDocuments_FK","targetType":"msg","x":1190,"y":4320,"wires":[]},{"id":"19b1c798.70055","type":"debug","z":"fbaa1676.42d288","name":"SQL request","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":60,"wires":[]},{"id":"3ed54b6.e201cb4","type":"function","z":"fbaa1676.42d288","name":"SQL Select URL / Server","func":"//msg.topic = \"SELECT URL FROM robot.urlservers WHERE id = \" + msg.Page_eSignDocuments_FK + \";\"\n\n//msg.topic = \"SELECT * FROM veritec.viewuploadedcsv where id =\" + msg.upload.ID + \";\"\n\n// BatchActionHoldingCompany = '\" + global.get(\"actions.BatchActionHoldingCompany\")\n\nmsg.topic = \"SELECT URL FROM robot.urlservers WHERE id = \" + global.get(\"URLindex\") + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4720,"wires":[[]]},{"id":"4946fb92.fb8f24","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"URL","pt":"global","to":"payload[0].URL","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":4840,"wires":[[]]},{"id":"c135d1c2.a4e038","type":"comment","z":"fbaa1676.42d288","name":"Get URL","info":"","x":840,"y":4640,"wires":[]},{"id":"32a238a2.9941f","type":"change","z":"fbaa1676.42d288","name":"","rules":[{"t":"set","p":"URLindex","pt":"msg","to":"URLindex","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":4680,"wires":[["51b358a5.6837","3ed54b6.e201cb4"]]},{"id":"51b358a5.6837","type":"debug","z":"fbaa1676.42d288","name":"Record #","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"URLindex","targetType":"msg","x":1160,"y":4680,"wires":[]},{"id":"71ae04df.b4741c","type":"debug","z":"fbaa1676.42d288","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload[0].URL","targetType":"msg","x":1180,"y":4760,"wires":[]},{"id":"f0160821.3ade78","type":"comment","z":"fbaa1676.42d288","name":"Get Next Row from Robot DB then clear RunNow flag","info":"","x":280,"y":40,"wires":[]},{"id":"f1fbea0f.9a68d","type":"comment","z":"fbaa1676.42d288","name":"!!! Set RunNow = 0","info":"","x":510,"y":4820,"wires":[]},{"id":"13b268f9.1dc61f","type":"change","z":"fbaa1676.42d288","name":"Set 'Account Setup' variables","rules":[{"t":"set","p":"Configuration_RandomlyGenerateData","pt":"msg","to":"Configuration_RandomlyGenerateData","tot":"global"},{"t":"set","p":"AccountSetup.FirstName","pt":"global","to":"payload[0].FirstName","tot":"msg"},{"t":"set","p":"LastName","pt":"global","to":"payload[0].LastName","tot":"msg"},{"t":"set","p":"Email","pt":"global","to":"payload[0].Email","tot":"msg"},{"t":"set","p":"CreatePassword","pt":"global","to":"payload[0].CreatePassword","tot":"msg"},{"t":"set","p":"ConfirmPassword","pt":"global","to":"payload[0].ConfirmPassword","tot":"msg"},{"t":"set","p":"SecurityQuestion","pt":"global","to":"payload[0].Web_SubmitLoanRequest_Page_AccountSetup_C_SecurityQ_FK4","tot":"msg"},{"t":"set","p":"SecurityAnswer","pt":"global","to":"payload[0].SecurityAnswer","tot":"msg"},{"t":"set","p":"EligibilityNumber","pt":"global","to":"payload[0].EligibilityNumber","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":680,"wires":[[]]},{"id":"27db74cd.e9de7c","type":"comment","z":"fbaa1676.42d288","name":"!!! PASS","info":"","x":1090,"y":4860,"wires":[]},{"id":"a568b7ce.8b079","type":"comment","z":"fbaa1676.42d288","name":"!!! FAIL","info":"","x":1090,"y":4920,"wires":[]},{"id":"65a39bcb.3fec5c","type":"comment","z":"fbaa1676.42d288","name":"!!! LOG","info":"","x":1090,"y":4980,"wires":[]},{"id":"a8e9af4b.14eac8","type":"change","z":"fbaa1676.42d288","name":"Set 'Personal Information' variables","rules":[{"t":"set","p":"Configuration_RandomlyGenerateData","pt":"msg","to":"Configuration_RandomlyGenerateData","tot":"global"},{"t":"set","p":"Address","pt":"global","to":"payload[0].Address","tot":"msg"},{"t":"set","p":"AptSuite","pt":"global","to":"payload[0].AptSuite","tot":"msg"},{"t":"set","p":"City","pt":"global","to":"payload[0].City","tot":"msg"},{"t":"set","p":"ZIPCode","pt":"global","to":"payload[0].ZIPCode","tot":"msg"},{"t":"set","p":"OwnOrRent","pt":"global","to":"payload[0].OwnOrRent","tot":"msg"},{"t":"set","p":"TimeAtCurrentAddressYRS","pt":"global","to":"payload[0].TimeAtCurrentAddressYRS","tot":"msg"},{"t":"set","p":"TimeAtCurrentAddressMTS","pt":"global","to":"payload[0].TimeAtCurrentAddressMTS","tot":"msg"},{"t":"set","p":"PrimaryPhone","pt":"global","to":"payload[0].PrimaryPhone","tot":"msg"},{"t":"set","p":"IdentificationType","pt":"global","to":"payload[0].IdentificationType","tot":"msg"},{"t":"set","p":"IdentificationState","pt":"global","to":"payload[0].IdentificationState","tot":"msg"},{"t":"set","p":"IdentificationNumber","pt":"global","to":"payload[0].IdentificationNumber","tot":"msg"},{"t":"set","p":"IdentificationExpiration","pt":"global","to":"payload[0].IdentificationExpiration","tot":"msg"},{"t":"set","p":"SocialSecurityNumber","pt":"global","to":"payload[0].SocialSecurityNumber","tot":"msg"},{"t":"set","p":"ConfirmSSN","pt":"global","to":"payload[0].ConfirmSSN","tot":"msg"},{"t":"set","p":"DateOfBirth","pt":"global","to":"payload[0].DateOfBirth","tot":"msg"},{"t":"set","p":"SecondaryPhone","pt":"global","to":"payload[0].SecondaryPhone","tot":"msg"},{"t":"set","p":"OwnershipType","pt":"global","to":"payload[0].OwnershipType","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1080,"wires":[[]]},{"id":"9c222a85.20d2c8","type":"change","z":"fbaa1676.42d288","name":"Set 'Product Preference' variables","rules":[{"t":"set","p":"SelectLoan","pt":"global","to":"payload[0].SelectLoan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1460,"wires":[[]]},{"id":"94e2f853.367ac","type":"change","z":"fbaa1676.42d288","name":"Set 'Income Information' variables","rules":[{"t":"set","p":"MainSourceOfIncome","pt":"global","to":"payload[0].MainSourceOfIncome","tot":"msg"},{"t":"set","p":"EmploymentBenefitStartDate","pt":"global","to":"payload[0].EmploymentBenefitStartDate","tot":"msg"},{"t":"set","p":"EmployerName","pt":"global","to":"payload[0].EmployerName","tot":"msg"},{"t":"set","p":"JobTitleDepartment","pt":"global","to":"payload[0].JobTitleDepartment","tot":"msg"},{"t":"set","p":"WorkPhone","pt":"global","to":"payload[0].WorkPhone","tot":"msg"},{"t":"set","p":"Extension","pt":"global","to":"payload[0].Extension","tot":"msg"},{"t":"set","p":"PaycheckFrequency","pt":"global","to":"payload[0].PaycheckFrequency","tot":"msg"},{"t":"set","p":"payload[0].GrossPayPerCheck","pt":"global","to":"payload[0].GrossPayPerCheck","tot":"msg"},{"t":"set","p":"NetPayPerCheck","pt":"global","to":"payload[0].NetPayPerCheck","tot":"msg"},{"t":"set","p":"PaycheckReceivedAs","pt":"global","to":"payload[0].PaycheckReceivedAs","tot":"msg"},{"t":"set","p":"NextPayDate","pt":"global","to":"payload[0].NextPayDate","tot":"msg"},{"t":"set","p":"Shift","pt":"global","to":"payload[0].Shift","tot":"msg"},{"t":"set","p":"GrossPayPerCheck","pt":"global","to":"payload[0].GrossPayPerCheck","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1840,"wires":[[]]},{"id":"b62d34b7.c0cea8","type":"change","z":"fbaa1676.42d288","name":"Set 'Bank Information' variables","rules":[{"t":"set","p":"AccountType","pt":"global","to":"payload[0].AccountType","tot":"msg"},{"t":"set","p":"RoutingNumber","pt":"global","to":"payload[0].RoutingNumber","tot":"msg"},{"t":"set","p":"ConfirmRoutingNumber","pt":"global","to":"payload[0].ConfirmRoutingNumber","tot":"msg"},{"t":"set","p":"AccountNumber","pt":"global","to":"payload[0].AccountNumber","tot":"msg"},{"t":"set","p":"ConfirmAccountNumber","pt":"global","to":"payload[0].ConfirmAccountNumber","tot":"msg"},{"t":"set","p":"AccountOpenDate","pt":"global","to":"payload[0].AccountOpenDate","tot":"msg"},{"t":"set","p":"AccountBalance","pt":"global","to":"payload[0].AccountBalance","tot":"msg"},{"t":"set","p":"AccountHolderName","pt":"global","to":"payload[0].AccountHolderName","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2200,"wires":[[]]},{"id":"61efa704.15fe48","type":"change","z":"fbaa1676.42d288","name":"Set 'Agreements Information' variables","rules":[{"t":"set","p":"ReadAcceptArbitrationAgreement","pt":"global","to":"payload[0].ReadAcceptArbitrationAgreement","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2640,"wires":[[]]},{"id":"46eb7ad2.cc9514","type":"change","z":"fbaa1676.42d288","name":"Set 'OTP' variables","rules":[{"t":"set","p":"Passcode","pt":"global","to":"payload[0].Passcode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3020,"wires":[[]]},{"id":"64b5be0a.db7fd","type":"change","z":"fbaa1676.42d288","name":"Set 'Select Loant' variables","rules":[{"t":"set","p":"SelectLoan","pt":"global","to":"payload[0].SelectLoan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":3400,"wires":[[]]},{"id":"7492dc3b.077b3c","type":"change","z":"fbaa1676.42d288","name":"Set 'Loan Amount' variables","rules":[{"t":"set","p":"LoanAmount","pt":"global","to":"payload[0].LoanAmount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3780,"wires":[[]]},{"id":"12ce9cef.3b56fb","type":"change","z":"fbaa1676.42d288","name":"Set 'DecisionLogic' variables","rules":[{"t":"set","p":"BankName","pt":"global","to":"payload[0].BankName","tot":"msg"},{"t":"set","p":"BankURL","pt":"global","to":"payload[0].BankURL","tot":"msg"},{"t":"set","p":"BankID","pt":"global","to":"payload[0].BankID","tot":"msg"},{"t":"set","p":"BankPassword","pt":"global","to":"payload[0].BankPassword","tot":"msg"},{"t":"set","p":"Agree","pt":"global","to":"payload[0].Agree","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.75,"y":4154.75,"wires":[[]]},{"id":"8b17a5ce.5dd8f8","type":"comment","z":"fbaa1676.42d288","name":"!!! Add randomized bank account number","info":"","x":1440,"y":2040,"wires":[]},{"id":"f08c7294.f7a568","type":"comment","z":"fbaa1676.42d288","name":"!!! If all 4 Agreements checked then enable 'ALL' option","info":"","x":1270,"y":2560,"wires":[]},{"id":"9b7cdc79.926a98","type":"status","z":"fbaa1676.42d288","name":"","scope":null,"x":140,"y":100,"wires":[[]]},{"id":"e78828bb.3192c","type":"function","z":"fbaa1676.42d288","name":"Clear test case global properties ","func":"var keys = global.keys();\nmsg.payload = keys[0];\nfor(var i=0;i<keys.length;i++){\n    if ( ![\"baseData\", \"properties\", \"activeEnvironment\", \"username\"].includes(keys[i]) )\n        global.set(keys[i]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["1d4d6035.d6288"]]},{"id":"d903162.53d6d68","type":"switch","z":"fbaa1676.42d288","name":"Is a record found?","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":220,"wires":[[],["f97e21b.027a3e"]]},{"id":"c46ca2ad.438688","type":"comment","z":"fbaa1676.42d288","name":"No record found","info":"","x":1300,"y":200,"wires":[]},{"id":"7d1ce4e.4bcd91c","type":"debug","z":"fbaa1676.42d288","name":"SQL response","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":140,"wires":[]},{"id":"a2b12f26.024e8","type":"debug","z":"fbaa1676.42d288","name":"eSign results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":4400,"wires":[]},{"id":"a374352d.98044","type":"yaml","z":"a8dcefc0.43ec78","property":"payload","name":"","x":350,"y":720,"wires":[["4193573e.25e9d"]]},{"id":"89d27a91.fe3ca","type":"file in","z":"a8dcefc0.43ec78","name":"Properties yml ","filename":"","format":"utf8","chunk":false,"sendError":true,"encoding":"none","x":380,"y":660,"wires":[["a374352d.98044"]]},{"id":"4193573e.25e9d","type":"change","z":"a8dcefc0.43ec78","name":"Store properties","rules":[{"t":"delete","p":"properties","pt":"global"},{"t":"set","p":"properties","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["c34e5470.ef21f8"]]},{"id":"ee2cf004.ca2728","type":"comment","z":"a8dcefc0.43ec78","name":"Set service data and generic validations","info":"","x":450,"y":380,"wires":[]},{"id":"dec4dec.6320aa","type":"status","z":"a8dcefc0.43ec78","name":"","scope":null,"x":300,"y":200,"wires":[[]]},{"id":"1b51f450.cf6944","type":"function","z":"a8dcefc0.43ec78","name":"Set yml file path","func":"let homepath = env.get(\"HOMEPATH\");\nmsg.filename = `c:${homepath}\\\\.node-red\\\\projects\\\\services-core-application-nred\\\\properties.yml` \n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["89d27a91.fe3ca"]]},{"id":"63367424.0cc254","type":"function","z":"a8dcefc0.43ec78","name":"Start: Project set up","func":"node.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["b1733486.0869e8"]]},{"id":"5e8f37ce.45a2","type":"function","z":"a8dcefc0.43ec78","name":"End: Project set up","func":"node.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1560,"wires":[[]]},{"id":"28d7f70e.e79368","type":"change","z":"a8dcefc0.43ec78","name":"Set activeEnvironment","rules":[{"t":"set","p":"activeEnvironment","pt":"global","to":"qa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["63367424.0cc254"]]},{"id":"c34e5470.ef21f8","type":"change","z":"a8dcefc0.43ec78","name":"Intialize global variables","rules":[{"t":"delete","p":"counter","pt":"global"},{"t":"set","p":"failures","pt":"global","to":"[]","tot":"jsonata"},{"t":"set","p":"baseData","pt":"global","to":"{}","tot":"json"},{"t":"set","p":"baseData.emptyArray","pt":"global","to":"[]","tot":"jsonata"},{"t":"set","p":"baseData.trueValue","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"baseData.accountNumber","pt":"global","to":"$formatInteger($abs($random()*1000000000), \"000000000\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":840,"wires":[["cd875f04.9c8008"]]},{"id":"7fed8f98.0def48","type":"moment","z":"a8dcefc0.43ec78","name":"Set nextPaymentDate","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":"1","adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en_US","output":"baseData.nextPaymentDate","outputType":"global","outTz":"America/New_York","x":400,"y":1140,"wires":[["84489f6c.a2c09"]]},{"id":"84489f6c.a2c09","type":"moment","z":"a8dcefc0.43ec78","name":"Set paymentDayOfWeek","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":"1","adjType":"days","adjDir":"add","format":"dddd","locale":"en_US","output":"baseData.paymentDayOfWeek","outputType":"global","outTz":"America/New_York","x":410,"y":1200,"wires":[["2acdd876.05371"]]},{"id":"32381e4d.f446aa","type":"function","z":"a8dcefc0.43ec78","name":"Set baseData.token","func":"// Remove string before \"{\"\nvar response = msg.payload;\nvar index = response.indexOf(\"{\") || 0;\nresponse = response.substring(index)\n\n// Extract token\nconst authResponse = JSON.parse(response);\nconst token = authResponse.AuthenticationResult.IdToken;\nglobal.set(\"baseData.token\", token);\n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1300,"wires":[["5e8f37ce.45a2"]]},{"id":"93e9da6c.af198","type":"debug","z":"a8dcefc0.43ec78","name":"output","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":1260,"wires":[]},{"id":"caf1f17.a9e289","type":"debug","z":"a8dcefc0.43ec78","name":"error","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1480,"wires":[]},{"id":"1e152386.bff5fc","type":"debug","z":"a8dcefc0.43ec78","name":"status","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1520,"wires":[]},{"id":"87acf6a7.370d38","type":"exec","z":"a8dcefc0.43ec78","command":"%HOMEPATH%\\.node-red\\projects\\services-core-application-nred\\getToken.bat","addpay":true,"append":"","useSpawn":"false","timer":"120","oldrc":true,"name":"Generate token","x":380,"y":1380,"wires":[["93e9da6c.af198","32381e4d.f446aa"],["caf1f17.a9e289","5e8f37ce.45a2"],["1e152386.bff5fc","5e8f37ce.45a2"]]},{"id":"2acdd876.05371","type":"function","z":"a8dcefc0.43ec78","name":"Set Token Parameter","func":"msg = {};\nmsg.payload = global.get(\"activeEnvironment\");\n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1300,"wires":[["87acf6a7.370d38"]]},{"id":"b5eb33dd.6a266","type":"comment","z":"a8dcefc0.43ec78","name":"Generate token","info":"","x":380,"y":1260,"wires":[]},{"id":"cd875f04.9c8008","type":"function","z":"a8dcefc0.43ec78","name":"Set addresses filename","func":"let homepath = env.get(\"HOMEPATH\");\nmsg.filename = `c:${homepath}\\\\.node-red\\\\projects\\\\services-core-application-nred\\\\dataSource\\\\addresses` \n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":900,"wires":[["5b7b5d2.f8bb924"]]},{"id":"5b7b5d2.f8bb924","type":"change","z":"a8dcefc0.43ec78","name":"Set baseData.addresses","rules":[{"t":"set","p":"baseData.addresses","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1020,"wires":[["d271462c.56408"]]},{"id":"b1733486.0869e8","type":"function","z":"a8dcefc0.43ec78","name":"Clear global properties","func":"var keys = global.keys();\nmsg.payload = keys[0];\nfor(var i=0;i<keys.length;i++){\n    if ( ![\"activeEnvironment\",\"username\"].includes(keys[i]) )\n        global.set(keys[i]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["1b51f450.cf6944"]]},{"id":"d271462c.56408","type":"change","z":"a8dcefc0.43ec78","name":"Store DELAY & RETRY baseData properties","rules":[{"t":"set","p":"baseData.DELAY","pt":"global","to":"{\"short\":5,\"regular\":20,\"long\":30}","tot":"json"},{"t":"set","p":"baseData.RETRY","pt":"global","to":"{\"short\":2,\"regular\":5,\"long\":7}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1080,"wires":[["7fed8f98.0def48"]]},{"id":"61387e15.bafc9","type":"catch","z":"a8dcefc0.43ec78","name":"","scope":["b1733486.0869e8","5e8f37ce.45a2","caf1f17.a9e289","87acf6a7.370d38","b5eb33dd.6a266","c34e5470.ef21f8","93e9da6c.af198","89d27a91.fe3ca","28d7f70e.e79368","cd875f04.9c8008","5b7b5d2.f8bb924","32381e4d.f446aa","7fed8f98.0def48","84489f6c.a2c09","ee2cf004.ca2728","2acdd876.05371","1b51f450.cf6944","63367424.0cc254","1e152386.bff5fc","dec4dec.6320aa","d271462c.56408","4193573e.25e9d","a374352d.98044"],"uncaught":false,"x":420,"y":1820,"wires":[[]]},{"id":"7a0fd9b7.388a28","type":"http request","z":"ce66cb21.2cd2","name":"POST call","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":180,"y":380,"wires":[["8824ef7f.24c678","8d7c25d6.6f73d"]]},{"id":"1b81503a.cc9b28","type":"function","z":"ce66cb21.2cd2","name":"Build request - POST ","func":"const activeEnvironment = global.get(\"activeEnvironment\");\nconst service = global.get(\"testData.service\");\nconst resource = global.get(\"testData.resource\");\nconst properties = global.get(\"properties.services\");\nconst requestBody = global.get(\"requestBody\");\n\nconst serviceIdx = properties.findIndex(obj => obj.serviceName == service);\nconst resourceIdx = properties[serviceIdx].resources.findIndex(obj => obj.name == resource);\n\nglobal.set(\"properties.serviceIdx\" , serviceIdx);\nglobal.set(\"properties.resourceIdx\" , resourceIdx);\n\n// initialize\nmsg = {};\n\n// set headers\nmsg.headers = {}\nmsg.headers[\"x-api-key\"] = global.get(`properties.services[${serviceIdx}].apiKey.${activeEnvironment}`);  \n\n// set url \nmsg.url = `https://serverless.${activeEnvironment}.cngaws.com/${properties[serviceIdx].resources[resourceIdx].path}`; \nnode.log(\"msg.url: \" + msg.url)\n\n// set request body\nmsg.payload = requestBody;\n\n// store request\nglobal.set(\"request\" , msg);\n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["7a0fd9b7.388a28","22a23597.f059a2"]]},{"id":"8d7c25d6.6f73d","type":"function","z":"ce66cb21.2cd2","name":"Store response","func":"var responseBody;\nvar responseBodyFull;\nvar totalResults;\nvar responseIsArray = false;\n\nif ( msg.payload.hasOwnProperty(\"results\") ) \n    if (Array.isArray(msg.payload.results))\n        responseIsArray = true\n\nif (responseIsArray) {\n    responseBody =  msg.payload.results[0] \n    responseBodyFull = msg.payload.results\n    totalResults = msg.payload.results.length\n} else {\n    responseBody =  msg.payload \n    responseBodyFull = msg.payload\n    totalResults = 0   \n}\n\nglobal.set(\"responseBody\", responseBody);\nglobal.set(\"totalResults\", totalResults);\nglobal.set(\"response\", msg);\n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":480,"wires":[["4da297d8.f3b188"]]},{"id":"36877b3b.382e74","type":"function","z":"ce66cb21.2cd2","name":"Assert required data","func":"var failures = [];\nvar keyName = null;\nvar value = null;\n\nconst responseBody = global.get(\"responseBody\");\n\nif ( responseBody ) {\n    \n    const service = global.get(\"testData.service\");\n    const resource = global.get(\"testData.resource\");\n    const serviceIdx = global.get(\"properties.serviceIdx\");\n    const resourceIdx = global.get(\"properties.resourceIdx\");\n    const responseRequiredData = \"properties.services[\" + serviceIdx + \"].resources[\" + resourceIdx + \"].responseRequiredData\";\n    const requiredData = global.get(responseRequiredData);\n    \n    const requiredDataCount = requiredData.length;\n    \n    for ( var i = 0; i < requiredDataCount; i++ ) {\n        \n        keyName = \"responseBody.\" + requiredData[i].name;\n\n        if ( elementExists(keyName) ) {\n            \n            value = global.get(keyName) \n        \n            if ( requiredData[i].type === \"string\" && !value )    /// Assert value null\n                failures.push(`${requiredData[i].name} is null.`);            \n             else if ( requiredData[i].type === \"numeric\" && !value ) \n                failures.push(`${requiredData[i].name} is zero, an invalid value.`);            \n            \n        } else   // required property missing     \n            failures.push(`Required data ${requiredData[i].name} was not return as a ${service} ${resource} data element.`);\n        \n    }\n\n}\n\nfunction elementExists(elem) {\n    if ((typeof elem) == \"undefined\" || elem === null)    \n        return false;\n    return true;\n}  \n\nif ( failures.length > 0 ) {\n    globalFailures = global.get(\"failures\") || [];\n    globalFailures.concat(failures);\n    global.set(\"failures\", globalFailures); \n}   \n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[[]]},{"id":"4da297d8.f3b188","type":"switch","z":"ce66cb21.2cd2","name":"What is the response code?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"504","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":240,"y":640,"wires":[["36877b3b.382e74"],["ebe9567f.8a0778"],["b6e0630b.52271"]]},{"id":"b6e0630b.52271","type":"function","z":"ce66cb21.2cd2","name":"Set error message for non-200 response","func":"const service = global.get(\"testData.service\");\nconst resource = global.get(\"testData.resource\");\n\nconst failure = `POST call returned ${msg.statusCode} response code for ${service} ${resource}`;            \nvar failures = global.get(\"failures\") || [];\nfailures.push(failure);\nglobal.set(\"failures\", failures); \n\nnode.log(\"Complete\");\nnode.status({fill:\"green\",shape:\"ring\",text:\"Done\"});\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":780,"wires":[[]]},{"id":"55feec98.d8956c","type":"delay","z":"ce66cb21.2cd2","name":"Delay","pauseType":"delayv","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":680,"wires":[[]]},{"id":"22a23597.f059a2","type":"debug","z":"ce66cb21.2cd2","name":"POST request","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":320,"wires":[]},{"id":"7b235f99.eba4e","type":"status","z":"ce66cb21.2cd2","name":"","scope":null,"x":120,"y":40,"wires":[[]]},{"id":"86394287.f61668","type":"comment","z":"ce66cb21.2cd2","name":"Perform http POST call","info":"","x":220,"y":180,"wires":[]},{"id":"d5db1493.efc208","type":"comment","z":"ce66cb21.2cd2","name":"Response code received or waited for response long enough","info":"","x":340,"y":440,"wires":[]},{"id":"f2ab1c65.fb4ea","type":"comment","z":"ce66cb21.2cd2","name":"Delay if timeout is encountered","info":"","x":590,"y":640,"wires":[]},{"id":"cc20fb51.108a38","type":"comment","z":"ce66cb21.2cd2","name":"Assert if 200 response is received","info":"","x":590,"y":540,"wires":[]},{"id":"fe82aacf.ec531","type":"comment","z":"ce66cb21.2cd2","name":"Set error if needed","info":"","x":550,"y":740,"wires":[]},{"id":"8824ef7f.24c678","type":"debug","z":"ce66cb21.2cd2","name":"POST response","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":380,"wires":[]},{"id":"33eaa5ab.b7d872","type":"comment","z":"ce66cb21.2cd2","name":"How to use this subflow? ","info":"# Required set-up:\n - Populate:  (1) global.requestBody, (2) global.testData.service and (3) global.testData.resource\n\n# Outputs:\n - global.request: contains the whole request object\n - global.response: contains the whole response object\n - global.responseBody: contains the response body","x":230,"y":220,"wires":[]},{"id":"ebe9567f.8a0778","type":"change","z":"ce66cb21.2cd2","name":"Set DELAY","rules":[{"t":"set","p":"delay","pt":"msg","to":"baseData.DELAY.regular","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":680,"wires":[["55feec98.d8956c"]]},{"id":"aa91b399.711fd","type":"change","z":"ce66cb21.2cd2","name":"Clear variables","rules":[{"t":"delete","p":"request","pt":"global"},{"t":"delete","p":"responseBody","pt":"global"},{"t":"delete","p":"response","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":260,"wires":[["1b81503a.cc9b28"]]},{"id":"89b2ae41.fffde8","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":1340,"wires":[[]]},{"id":"e01f1d44.e5013","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":1700,"wires":[[]]},{"id":"c7b51ece.999238","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":2080,"wires":[[]]},{"id":"b1fa5d1e.485c9","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":940,"y":2480,"wires":[[]]},{"id":"a166e9ac.648d98","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":2880,"wires":[[]]},{"id":"f52bcddb.826868","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":3260,"wires":[[]]},{"id":"8d1dd4a7.4566a8","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":3640,"wires":[[]]},{"id":"3e97bf99.9448c8","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":4020,"wires":[[]]},{"id":"1d95cef.fc410b1","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":950,"y":4400,"wires":[[]]},{"id":"1fd32f36.862319","type":"mysql","z":"22cacad.f0e7036","mydb":"28f26a3.8ec6b96","name":"Robot","x":940,"y":4760,"wires":[[]]},{"id":"ec2e2b9f.2627f","type":"data-generator","z":"22cacad.f0e7036","name":"","field":"payload","fieldType":"msg","syntax":"text","template":"{\n    \"SSN\": \"{{int 100000000 999999999}}\"\n}","x":1540,"y":1000,"wires":[[]]},{"id":"e6424c70.109c58","type":"data-generator","z":"22cacad.f0e7036","name":"","field":"payload","fieldType":"msg","syntax":"json","template":"{\n    \"email\": \"{{email}}\"\n}","x":1620,"y":620,"wires":[[]]}]